@font-face {
  font-family: NunitoSans;
  src: local(NunitoSans-Light),
    url(/fonts/NunitoSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: NunitoSans;
  src: local(NunitoSans-Regular),
    url(/fonts/NunitoSans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: NunitoSans;
  src: local(NunitoSans-Bold),
    url(/fonts/NunitoSans-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
