@import './_fonts.css';

:root {
  /*
  * Colors
  */
  --blue: #2c8ef8;
  --purple: #6b5eae;
  --pink: #ff679b;
  --red: #fa5c7c;
  --orange: #fd7e14;
  --yellow: #ffbc00;
  --green: #0acf97;
  --teal: #02a8b5;
  --cyan: #39afd1;
  --gray: #98a6ad;
  --light: #eef2f7;
  --gray-dark: #343a40;
  --dark: #313a46;
  --indigo: #727cf5;
  --secondary: #6c757d;
  --primary: var(--indigo);
  --background: #fbfbfb;

  /*
  * Fonts
  */
  --base-font-family: NunitoSans;
  --base-font-lineheight: 1.5em;
  --base-font-size: 18px;
}
