.icon {
  font-family: 'Material Icons';
  display: inline-block;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  margin-right: 10px;

  text-rendering: optimizeLegibility; /* Support for Safari and Chrome. */
  -moz-osx-font-smoothing: grayscale; /* Support for Firefox. */
  font-feature-settings: 'liga'; /* Support for IE. */
}

.icon.blue { color: var(--blue); }
.icon.purple { color: var(--purple); }
.icon.pink { color: var(--pink); }
.icon.red { color: var(--red); }
.icon.orange { color: var(--orange); }
.icon.yellow { color: var(--yellow); }
.icon.green { color: var(--green); }
.icon.teal { color: var(--teal); }
.icon.cyan { color: var(--cyan); }
.icon.gray { color: var(--gray); }
.icon.light { color: var(--light); }
.icon.dark { color: var(--dark); }
.icon.gray-dark { color: var(--gray-dark); }
.icon.indigo { color: var(--indigo); }
.icon.primary { color: var(--primary); }
.icon.secondary { color: var(--secondary); }
