.searchbox {
  position: relative;
}
.searchbox input {
  border-radius: 10rem;
  background-color: var(--light);
  font-family: var(--base-font-family);
  color: var(--secondary);
  padding: 0.65em 1.2em;
  border: none;
}
.searchbox:focus {
  outline: none;
}

.searchbox i {
  color: var(--gray);
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0.6em;
}
